<div class='container col-3 whitebox'>
<h2 class="text-center mt-2 mb-5">Questões</h2>

<% @questions.each do |question| %>
  <div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id= "customSwitches">
    <label class="custom-control-label" for="customSwitches">
      <%= "Aula: #{question.lesson} - #{question.content}" %>
      <%= link_to "Enviar", send_question_path(question), method: :patch , class: "btn btn-primary" %>
    </label>
  </div>
<% end %>
</div>

<br>
<label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label>


