<div  class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4 whitebox">
    <h4 class="text-center mt-2 mb-2">Questões</h4>
      <% if @current_user_questions.empty? %>
        <p>Não existem questões.</p>
      <% else %>
        <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-width: 260px">
        <% @current_user_questions.each do |question| %>
          <ul><%= "Aula #{question.lesson}: #{question.content}" %>
          <%= link_to "Enviar", send_question_path(question), method: :patch , class: "btn btn-link"  %></ul>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

