<div class='container col-3 whitebox-question'>
<h4 class="text-center mt-2 mb-2">Questões</h4>

  <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light " style="max-width: 260px; max-height: 300px;">
    <% @questions.each do |question| %>
      <%= "Aula: #{question.lesson} - #{question.content}" %>
      <%= link_to "Enviar", send_question_path(question), method: :patch , class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
