<div  class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4 whitebox">
      <h4 class="text-center mt-2 mb-2">Adicionar nova questão</h4>
      <%= render 'form' %>
    </div>
  </div>
</div>
