<p class="mt-2 mb-3">Alunos:</p>
<ul>
  <% @students.each do |student| %>
    <li class="mt-2 mb-3">
      <%= "#{student.name} - #{student.corrects}/#{student.answered}" %>
    </li>
  <% end %>
</ul>
