<ul>
  <% @students.each do |student| %>
    <li class="mt-2 mb-3">
      <%= "#{student.name} - #{student.corrects}/#{student.answered}" %>
    </li>
  <% end %>
</ul>
<!-- Layout de tabela
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Aluno</th>
      <th scope="col">Resultado</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <th scope="row"><%= student.name %></th>
        <td><%="#{student.corrects}/#{student.answered}"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

-->