<div>
  <% @students.each do |student| %>
    <div class="d-flex justify-content-between mb-4 pl-0">
      <%= "#{student.name}" %>
    <div class="d-flex justify-content-end">
      <%= "#{student.corrects}/#{student.answered}" %>
    <% end %>
    </div>
    </div>
</div>
<!-- Layout de tabela
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Aluno</th>
      <th scope="col">Resultado</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <th scope="row"><%= student.name %></th>
        <td><%="#{student.corrects}/#{student.answered}"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

-->

