<h1 class="container">Hello World</h1>
 <%# todo listar classrooms %>
<div class="mb-5"><%= link_to "#{@classrooms.first.year}ยบ#{@classrooms.first.name}", classroom_path(@classrooms.first)%></div>
<div class="mb-5"><%= link_to "Login", user_session_path, class: "btn btn-dark" %></div>
<div class="mb-5"><%= link_to "Logout", destroy_user_session_path, class: "btn btn-dark", method: :delete%></div>
