<div  class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4 whitebox">
      <h4 class="text-center mt-2 mb-2">Salas de aula</h4>
        <ul>
          <% @classrooms.each do |classroom| %> 
            <li><%= link_to "#{classroom.year}ยบ#{classroom.name}", classroom_path(classroom)%></li>
          <% end %>
        </ul>
    </div>
  </div>
</div>