<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://picsum.photos/id/201/5184/3456.jpg);">
  <div class="container">
    <div class=" ">
      <h1 class="text-right">Eu sei!</h1>
      <p class="text-right">Ferramenta ideal para aprendizado</p>
      <div class="btn btn-ghost rounded float-right btn-home mt-3 ">
        <%= link_to "Acessar", user_session_path, class: "text-decoration-none text-white" %>
      </div>


    </div>
  </div>
</div>

<div class="container d-flex justify-content-center pt-5 mb-5">
  <div class="col-10">
    <h3 class="text-justify"> Os inúmeros fatores de distração na sala de aula reduzem o nível de participação dos alunos. <strong>Eu sei!</strong> oferece um mecanismo simples de perguntas e respostas que incentiva a troca entre professores e alunos. A interação acontece no tempo real da aula e fornece insumos para aperfeiçoamento do método de ensino e de aprendizagem. <h3>
  </div>
</div>

<div class="container d-flex justify-content-around pt-5 mb-5">
  <div class="col-10">
    <div class="cards pt-3 mb-"3>
      <div class="card-trip">
        <i class="far fa-comments text-center"></i>
        <div class="card-trip-infos">
          <div>
            <h2>Tempo real</h2>
            <p class="text-justify">Mantém o aluno envolvido a aula toda.</p>
          </div>


        </div>
      </div>


      <div class="card-trip">
        <i class="far fa-address-card text-center"></i>
        <div class="card-trip-infos">
          <div>
            <h2>Painel de resultados</h2>
            <p class="text-justify">Consolida os resultados e amplia a visibilidade do perfil da turma.</p>
          </div>


        </div>
      </div>

      <div class="card-trip">
        <i class="fas fa-mobile-alt text-center"></i>
        <div class="card-trip-infos">
          <div>
            <h2>Dipositivos mobile</h2>
            <p class="text-justify">Linguagem ágil em um contexto educativo.</p>
          </div>


        </div>
      </div>

    </div>
  </div>
</div>


<div class="blackbox">
  <div  class="container pt-5">
  <div class="row justify-content-center">

      <form class="text-center border border-light p-5 col-xs-12 col-sm-6" action="#!" style="background-color:white">

          <p class="h4 mb-4">Fale conosco</p>

          <!-- Name -->
          <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Nome">

          <!-- Email -->
          <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">

          <!-- Subject -->
          <label>Assunto</label>
          <select class="browser-default custom-select mb-4">
              <option value="0" selected>Escolha uma opção</option>
              <option value="1">Feedback</option>
              <option value="2">Reportar um erro</option>
              <option value="3">Deixar uma sugestão</option>
              <option value="4">Outro assunto</option>
          </select>

          <!-- Message -->
          <div class="form-group">
              <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Deixe sua mensagem"></textarea>
          </div>

          <!-- Copy -->
          <div class="custom-control custom-checkbox mb-4">
              <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">

         </div>

          <!-- Send button -->
          <button class="form-actions btn btn-flat btn-block" type="submit">Enviar</button>

      </form>

  </div>
</div>
</div>

