body {
  background-color: $gray;
  font-family: 'Nunito Sans', sans-serif;
  color: #41393C;
}

.question {
  font-weight: bold;
}

h1, h2, h4{
  color: $strong-turquoise;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.formtext {
  color: $turquoise;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
}

p{
  margin-top: 1rem;
  margin-bottom: 0;
}