body {
  background-color: $gray;
  color: black;
}

h1, h2{
  color: $strong-turquoise;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.formtext {
  color: $turquoise;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
}
