.fa-mobile-alt {
  font-size: 100px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 25px;
}

.fa-address-card {
  font-size: 100px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 25px;
}

.fa-comments {
  font-size: 100px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 25px;
}


.fa-mobile-alt:hover {

  color: #92817a;
}



.fa-address-card:hover {

  color: #92817a;
}

.fa-comments:hover {

  color: #92817a;
}
